// header section intro
.intro {
	background: url("@img/header_section/header_bg.png") center / 450%, no-repeat;
	padding: rem(152) 0 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__title {
		font-size: rem(48);
      color: $color-text-bright;
      @include mbNotLast(22);
	}
	&__description {
		font-size: rem(18);
      line-height: 133%;
      color: $color-accent;
      text-transform: capitalize;
      @include mbNotLast(17);
	}
	&__version {
		color: $color-text-light;
		font-size: rem(14);
		@include mbNotLast(394);
		text-transform: uppercase;
	}
	&__download {
		font-size: rem(18);
      padding: rem(10) rem(29) rem(9);
      line-height: rem(22);
      @include mbNotLast(13);
   }
	&__trial {
		color: $color-text-light;
      font-size: rem(14);
      @include mbNotLast(394);
		
	}
}