// header section navbar
.navbar {
	background: $color-bg-dark;
	width: 100%;
	top: 0px;
	position: fixed;
	z-index: 5;
	&.navbar--on-scroll {
		.navbar__wrapper {
			padding: rem(10) 0;
		}
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		padding: rem(32) 0 rem(30);
		transition: padding .3s, gap .3s;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: $color-bg-dark;
			z-index: -1;
		}
	}
	&__logo {}
	&__buy {
		font-size: rem(15);
		padding: rem(8) rem(23);
		border-width: 1px;}
	&__dropdown {}
	&__nav {}
}

.logo {
	height: rem(41);
	&__icon {
		height: 100%;
		width: rem(43);
		fill: $color-accent;
		transition: fill .3s;
	&:hover {
		fill: $color-bg-bright;
		}
	}
	&__text {
		display: none;
	}
}

.dropdown {
	position: relative;
	width: rem(26);
	height: rem(21);
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: rem(6);
	&__lines,
	&::before,
	&::after {
		content: "";
		border-radius: rem(5);
		width: 100%;
		height: rem(3);
		background-color: $color-bg-bright;
		transform-origin: right;
		transition: all 0.3s ease 0s;
	}
	&::before {
		margin-left: auto;
		width: 58%;
	}
	&::after {}
	&.dropdown--active {
		.dropdown__lines {
			opacity: 0;
		}
		&::before {
			width: 100%;
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
}

.nav {
	position: absolute;
	width: 100%;
	background-color: $color-bg-dark-light;
	color: $color-text-bright;
	transform: translateY(-100%);
	top: 0;
	z-index: -2;
	transition: transform .3s;
	&.nav--active {
		transform: translateY(0);
		top: 100%;
	}
	&__list {
		display: flex;
		flex-direction: column;
		padding-bottom: rem(14);
	}
	&__item {}
	&__link {
		display: inline-block;
		width: 100%;
		font-size: rem(26);
		padding: rem(35) rem(5) rem(30) rem(33);
		position: relative;
		transition: color .3s;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
			height: 58%;
			background-color: $color-accent;
			transition: width .3s;
		}
		&:hover {
			color: $color-accent;
			&::before {
					width: rem(8);
			}
		}
		&::after {
			content: '';
			position: absolute;
			height: rem(3);
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: #3B3B3B;
		}
	}
}
