.testimonials {
	background: url("@img/testimonials_section/testmonials_bg.png") center top / cover no-repeat,$color-bg-dark-accent;
   padding: rem(46) 0 rem(5);
   margin-bottom: rem(-1);
	&__title {
		font-size: rem(36);
		line-height: 133%;
		text-transform: capitalize;
		color: $color-text-bright;
		text-align: center;
		margin-bottom: rem(34);
	}
	&__list {
		@include flexCenter;
		flex-direction: column;
		row-gap: rem(35);
		@include mbNotLast(29);
	}
	&__item {}
	&__text {
		font-family: $font-family-secondary;
		font-size: rem(14);
		text-align: center;
		line-height: 150%;
		color: #a291a5;
		padding-bottom: rem(28);
		position: relative;
		max-width: 84%;
		margin: 0 auto;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: rem(2);
			width: 97%;
			background: #645766;
		}
	}
}

.testimonials-card {
	@include flexCenter;
	flex-direction: column;
	max-width: rem(270);
	&__logo {
		height: rem(64);
		max-width: 100%;
		@include flexCenter;
		@include mbNotLast(15);
	}
	&__img {
		object-fit: contain;
	}
	&__text {
		font-family: $font-family-secondary;
		text-align: center;
		line-height: 150%;
		font-weight: 700;
		font-style: italic;
		color: $color-text-bright;
	}
}
