.pricing {
	background-color: #4b3b4e;
   margin-top: rem(-1);
	color: $color-text-bright;
   text-align: center;
   &__title {
      font-size: rem(28);
      line-height: 150%;
      padding: rem(2) 0 rem(26);
   }
   &__cards {
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      gap: 18px;
      grid-template-columns: 257px;
      padding: 0 0 10px;
      justify-content: center;
   }
}

.cards {
   &__item {
      background-color: rgba(255, 255, 255, 0.11);
      width: rem(257);
      height: rem(457);
      &:first-child>.cards__license {
         margin-bottom: rem(30);
         margin-top: rem(23);
      }
      &--active {
         width: rem(299);
         height: rem(560);
         background-color: rgba(70, 48, 72, 0.84);
      }
   }
   &__title {
      background-color: rgba(255, 255, 255, 0.06);
      font-size: rem(24);
      line-height: 100%;
      text-transform: uppercase;
      padding: rem(36) 0;
      margin-bottom: rem(28);
   }
   &__item--active &__title {
      background-color: rgba(0, 0, 0, 0.11);
      padding: rem(42) 0;
      margin-bottom: rem(13);
   }
   &__price {
      // font-weight: 700;
      font-size: rem(60);
      line-height: 103%;
      margin-bottom: rem(18);
   }
   &__item--active &__price {
      font-size: rem(82);
      line-height: 102%;
      margin-bottom: rem(15);
   }
   &__period {
      position: relative;
      font-size: rem(14);
      line-height: 114%;
      text-transform: uppercase;
      padding-bottom: rem(43);
      &::after {
         position: absolute;
         content: "";
         width: rem(60);
         height: rem(5);
         background-color: $color-accent;
         bottom: 0;
         left: 38%;
      }
   }
   &__item--active &__period {
      padding-bottom: rem(53);
   }
   &__license {
      margin: rem(24) 0 rem(32);
      font-size: rem(16);
      line-height: 175%;
   }
   &__item--active &__license {
      line-height: 200%;
      margin-bottom: rem(73);
      margin-top: rem(31);
   }
   &__btn {
      font-size: rem(15);
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 40px;
      padding: rem(13) rem(36);
      border-width: 1px;
      transition: color 0.3s, background-color 0.3s;
      margin-bottom: rem(37);
      &:hover {
         color: $color-accent;
         background-color: $color-bg-dark-accent;
      }
   }
   &__item--active &__btn {
      font-size: rem(16);
      line-height: 113%;
      margin-bottom: rem(47);
      padding: rem(19) rem(48);
   }
}