.present-text {
	padding: rem(126) 0 rem(88);
	&__wrapper {
		max-width: rem(273);
		text-align: center;
		margin: 0 auto;
	}
	&__title {
		font-size: rem(26);
		line-height: 108%;
		text-transform: uppercase;
		color: #635C73;
		margin-bottom: rem(20);
	}
	&__text {
		font-family: $font-family-secondary;
		font-size: rem(14);
		line-height: 143%;
		margin-bottom: rem(31);
	}
}

.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: $font-family-secondary;
	font-weight: 400;
	color: #24292e;
	gap: rem(20) rem(6);
	&__link {
		margin: 0;
		background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
		border: 1px solid rgba(27, 31, 35, .2);
		border-radius: 3px;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		font-size: rem(14);
		line-height: 143%;
		padding: rem(2) rem(8);
		display: inline-block;
		vertical-align: middle;
	}
	&__link:hover {
		background-image: linear-gradient(-180deg, #fafbfc, #d1d9df 90%);
		border-color: rgba(51, 48, 48, .4);
	}
	&__icon {
		vertical-align: -10%;
	}
	&__count {
		background-color: $color-bg-bright;
		border: rem(1) solid rgba(27, 31, 35, .2);
		border-bottom-right-radius: rem(3);
		border-left: 0;
		border-top-right-radius: rem(3);
		font-size: rem(12);
		line-height: 167%;
		padding: rem(2) rem(9);
		vertical-align: middle;
		display: inline-block;
		margin-left: rem(-3);
	}
}