.features {
	padding: rem(30) 0 rem(6);
   background: rgba(0, 0, 0, 0.0001);
	&__wrapper {
		padding: 0 rem(15);
	}
	&__title {
		text-align: center;
		color: $color-accent;
		font-size: rem(32);
		line-height: 119%;
		margin-bottom: rem(33);
	}
	&__icons {
		@include flexCenter;
		flex-direction: column;
		margin-bottom: rem(55);
	}
	&__editor {
		height: rem(381);
		// width: rem(381);
		// background: url(../../img/features_section/editor.png) no-repeat;
		// background-size: rem(381);
		// margin-left: rem(-22);
		// object-fit: cover;
		// & img {
		// 	margin-left: rem(-22);
		// 	height: 100%;
		// 	object-fit: cover;
		// }
	}
	&__img {
		margin-left: rem(-22);
		height: 100%;
		object-fit: cover;
	}
}

.icons {
	&__item {
		@include flexCenter;
		flex-direction: column;
		@include mbNotLast(34);
	}
	&__img {
		margin-bottom: rem(25);
	}
	&__text {
		text-align: center;
	}
	&__title {
		margin-bottom: rem(12);
	}
	&__description {
		font-family: $font-family-secondary;
		color: $color-text-light;
		font-size: rem(14);
		line-height: 150%;
	}
}