html:has(.nav--open) {
	overflow: hidden;
}

body {
	min-width: 320px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: $font-family-main;
	font-size: $font-size-main;
	color: $color-text-dark;
	font-weight: 400;

	@supports (overflow: clip) {
		 overflow: clip;
	}

	>main {
		 flex: 1 1 auto;
	}

	// Fix for sliders
	>* {
		 min-width: 0;
	}
}

[class*="__container"] {
	max-width: calc(rem($container-width-main) + rem($container-padding-main) * 2);
	margin: 0 auto;
	padding: 0 rem($container-padding-main);
}

.button {
	color: $color-text-bright;
	font-weight: 700;
	background: $color-accent;
	border-radius: 40px;
	border: solid #8D81AC;
	transition: color .3s, background-color .3s;

	&:hover {
		color: $color-accent;
		background: $color-bg-bright;
	}
}

.title {
	font-weight: 700;
}
a{
	cursor: pointer;
}

