@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin imgCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

//REM to PX
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

// Margin bottom for children accept last one
@mixin mbNotLast($px) {
	&:not(:last-child) {
		margin-bottom: rem($px);
	}
}

// Grid cards
@mixin gridCards($repeat: auto-fit, $min: 280px, $max: 1fr, $gapY: 30px, $gapX: 30px) {
	display: grid;
	gap: $gapY $gapX;
	grid-template-columns: repeat($repeat, minmax($min, $max));
}
