$container-width-main: 1200;
$container-padding-main: 10;

$font-family-main: 'Montserrat',
sans-serif;
$font-family-secondary: 'Lato',
sans-serif;
$font-size-main: rem(16);

$color-accent: #8D81AC;
$color-text-bright: #FFF;
$color-text-dark: #323232;
$color-text-light: #848E97;

$color-bg-bright: #FFF;
$color-bg-dark: #27262A;
$color-bg-dark-light: #333333;
$color-bg-dark-accent: #4A3B4E;



$middle: '481px';
$large: '993px';
$xLarge: $container-width-main+'px';
