<section class="intro">
	<div class="intro__container">
		<div class="intro__wrapper">
			<h1 class="intro__title title">
				Fork App
			</h1>
			<p class="intro__description">
				A Real Gamechanger In The World Of Web Development
			</p>
			<p class="intro__version">
				v. 2.8 For Mac and Windows
			</p>
			<button class="intro__download button">
				Download For Free Now
			</button>
			<p class='intro__trial'>
				Unlimited 30-Days Trial Period
			</p>
		</div>
	</div>
</section>