<section class="testimonials">
	<div class="testimonials__container">
		<h2 class="testimonials__title title">People Are Talking About Fork</h2>
		<ul class="testimonials__list">
			<li class="testimonials__item testimonials-card">
				<a class="testimonials-card__logo">
					<img class="testimonials-card__img" src="@img/testimonials_section/logo1.png" alt="smashing-magazin-logo"
						width="165px" height="43">
				</a>
				<p class="testimonials-card__text">
					Sed vestibulum scelerisque urna, eu finibus leo facilisissit amet.
					Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
				</p>
			</li>
			<li class="testimonials__item testimonials-card">
				<a class="testimonials-card__logo">
					<img class="testimonials-card__img" src="@img/testimonials_section/logo2.png" alt="codrops-logo"
						width="148px" height="50px">
				</a>
				<p class="testimonials-card__text">
					Donec euismod dolor ut ultricies consequat. Vivamus urna
					ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
				</p>
			</li>
			<li class="testimonials__item testimonials-card">
				<a class="testimonials-card__logo">
					<img class="testimonials-card__img" src="@img/testimonials_section/logo3.png" alt="w-logo" width="64px"
						height="64" px>
				</a>
				<p class="testimonials-card__text">
					In efficitur in velit et tempus. Duis nec odio dapibus,
					suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
				</p>
			</li>
			<li class="testimonials__item testimonials-card">
				<a class="testimonials-card__logo">
					<img class="testimonials-card__img" src="@img/testimonials_section/logo4.png" alt="pixel-buddha-logo"
						width="225px" height="24px">
				</a>
				<p class="testimonials-card__text">
					Sed vestibulum scelerisque urna, eu finibus leo facilisissit amet.
					Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
				</p>
			</li>
			<li class="testimonials__item testimonials-card">
				<a class="testimonials-card__logo">
					<img class="testimonials-card__img" src="@img/testimonials_section/logo5.png" alt="creative-bloq-logo"
						width="166px" height="34px">
				</a>
				<p class="testimonials-card__text">
					Praesent ut eros tristique, malesuada lectus vel,
					lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.
				</p>
			</li>
			<li class="testimonials__item testimonials-card">
				<a class="testimonials-card__logo">
					<img class="testimonials-card__img" src="@img/testimonials_section/logo6.png" alt="tnw-logo"
						width="108px" height="34px">
				</a>
				<p class="testimonials-card__text">
					Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
					Pellentesque porttitor cursus massa et vestibulum.
				</p>
			</li>
		</ul>
		<p class="testimonials__text">
			Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
			facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat
			nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
			ridiculus mus.
		</p>
	</div>
</section>