<section class="pricing">
	<div class="pricing__container">
		<h2 class="pricing__title title">Fork Subscription Pricing</h2>
		<ul class="pricing__cards cards">
			<li class="cards__item">
				<h3 class="cards__title">Students</h3>
				<div class="cards__price"><samp class="cards__price--currency">$</samp>29</div>
				<p class="cards__period">per month</p>
				<p class="cards__license">Personal License</p>
				<button class="cards__btn" type="button">purchase</button>
			</li>
			<li class="cards__item">
				<h3 class="cards__title">professional</h3>
				<div class="cards__price"><samp class="cards__price--currency">$</samp>59</div>
				<p class="cards__period">per month</p>
				<p class="cards__license">Professional License<br>Email Support</p>
				<button class="cards__btn" type="button">purchase</button>
			</li>
			<li class="cards__item cards__item--active">
				<h3 class="cards__title">agency</h3>
				<div class="cards__price"><samp class="cards__price--currency">$</samp>99</div>
				<p class="cards__period">per month</p>
				<p class="cards__license">1-12 Team Members<br>Phone Support</p>
				<button class="cards__btn" type="button">purchase</button>
			</li>
			<li class="cards__item">
				<h3 class="cards__title">enterprise</h3>
				<div class="cards__price"><samp class="cards__price--currency">$</samp>159</div>
				<p class="cards__period">per month</p>
				<p class="cards__license">Unlimited Team Members<br>24/ 7 Phone Support</p>
				<button class="cards__btn" type="button">purchase</button>
			</li>
		</ul>
	</div>
</section>