<section class="features">
	<div class="features__container">
		<div class="features__wrapper">
			<h2 class="features__title title">&lt;Here is what you get&gt;</h2>
			<ul class="features__icons icons">
				<li class="icons__item">
					<img class="icons__img " src="@img/features_section/icon1.png" alt="creatred-icon1" width="111px"
						height="64px">
					<div class="icons__text">
						<h3 class="icons__title">Creatred to Make The Web Better</h3>
						<p class="icons__description">
							Aenean cursus imperdiet nisl id fermentum.
							Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor
							molestie eget ut augue.
						</p>
					</div>
				</li>
				<li class="icons__item">
					<img class="icons__img " src="@img/features_section/icon2.png" alt="incredibly-icon2" width="90px"
						height="80px">
					<div class="icons__text">
						<h3 class="icons__title">Incredibly Powerful Tool</h3>
						<p class="icons__description">
							Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
							ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
							Aliquam erat volutpat.
						</p>
					</div>
				</li>
				<li class="icons__item">
					<img class="icons__img " src="@img/features_section/icon3.png" alt="experimental-icon3" width="60px"
						height="84px">
					<div class="icons__text">
						<h3 class="icons__title">Experimental Stuff</h3>
						<p class="icons__description">
							Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
							ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
							Aliquam erat volutpat.
						</p>
					</div>
				</li>
				<li class="icons__item">
					<img class="icons__img " src="@img/features_section/icon4.png" alt="creatred-icon4" width="71px"
						height="71px">
					<div class="icons__text">
						<h3 class="icons__title">Creatred to Make The Web Better</h3>
						<p class="icons__description">
							Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
							ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
							Aliquam erat volutpat.
						</p>
					</div>
				</li>
			</ul>
			<div class="features__editor">
				<img class="features__img" src="@img/features_section/editor.png" alt="editor">
			</div>
		</div>
	</div>
</section>