@media (min-width: $middle) {
	// section navbar
	.navbar {
		transition: background-color .3s;
		&.navbar--on-scroll {
			background: $color-bg-dark;
			.navbar__wrapper {
				padding: rem(10) 0;
				row-gap: rem(10);
			}
		}
		&__wrapper {
			flex-wrap: wrap;
			gap: rem(21) rem(48);
			padding: rem(22) 0 rem(17);
			&::before {
					display: none;
			}
		}
		&__buy {
			font-size: rem(16);
			padding: rem(9) rem(34) rem(8);
			flex-shrink: 0;
		}
	}
	.logo {
		display: flex;
		align-items: flex-end;
		gap: rem(17);
		&:hover &__icon,
		&:hover &__text {
			color: $color-bg-bright;
			fill: $color-bg-bright;
		}
		&__text {
			display: inline-block;
			font-size: rem(24);
			font-weight: 700;
			font-family: $font-family-secondary;
			line-height: rem(34);
			text-transform: uppercase;
			color: $color-accent;
			transition: color .3s;
		}
	}

	.dropdown {
		display: none;
	}

	.nav {
		position: relative;
		width: 100%;
		background: none;
		visibility: visible;
		transform: translateY(0);
		top: 100%;
		opacity: 1;
		z-index: 1;
		&__list {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			gap: rem(20) rem(48);
			padding-bottom: 0;
			@media (max-width: 600px) {
					gap: rem(20) rem(0);
					justify-content: space-around;
			}
		}
		&__item {}
		&__link {
			padding: 0;
			font-size: rem(16);
			font-weight: 700;
			color: $color-accent;
			&:hover {
				color: $color-text-bright;
			}
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
	}

	// section intro
	.intro {
		background: url("@img/header_section/header_bg.png") center / cover, no-repeat;
		padding: rem(184) 0 0;
		&__wrapper {
			&>*:last-child {
				margin-bottom: rem(-63);
			}
		}
		&__title {
			font-size: rem(72);
			@include mbNotLast(16)
		}
		&__description {
			font-family: $font-family-secondary;
			font-size: rem(24);
			line-height: 1;
			text-transform: lowercase;
			@include mbNotLast(18);
			&::first-letter {
				text-transform: uppercase;
			}
		}
		&__version {
			@include mbNotLast(439);
		}
		&__download {
			font-size: rem(21);
			line-height: 110%;
			padding: rem(18) rem(60) rem(17);
			@include mbNotLast(20);
		}
	}
}

@media (min-width: $large) {
	// section navbar
	.navbar {
		background: none;
		&__wrapper {
			flex-wrap: nowrap;
			gap: unset;
			column-gap: rem(48);
			padding: rem(28) 0 rem(30);
		}
		&__logo {
			order: -1;
		}
		&__nav {
			display: flex;
			justify-content: flex-end;
			order: -1;
		}
	}

	// section intro
	.intro {
		padding: rem(181) 0 0;
		&__wrapper {
			&>*:last-child {
				margin-bottom: rem(-63);
			}
		}
		&__title {
			font-size: rem(82);
		}
		&__description {
			font-size: rem(30);
			@include mbNotLast(16);
		}
		&__version {
			font-size: rem(16);
			text-transform: uppercase;
		}
		&__trial {
			@include mbNotLast(426);
		}
		&__btn {
			@include mbNotLast(20);
		}
	}
}


