@media (min-width: $middle) {
// sections present_text
	.present-text {
		padding: rem(139) 0 rem(98);
		&__wrapper {
			max-width: rem(689);
		}
		&__title {
			font-size: rem(42);
			line-height: 100%;
			margin-bottom: rem(14);
			margin-top: rem(16);
		}
		&__text {
			font-size: rem(21);
			line-height: 152%;
			margin-bottom: rem(36);
		}
	}

// sections features
.features {
	padding: rem(62) 0 rem(2);
	position: relative;
	&__wrapper {
		padding: 0;
		max-width: rem(702);
		margin: 0 auto;
	}
	&__title {
		font-size: rem(42);
		line-height: 105%;
		margin-bottom: rem(48);
	}
	&__icons {
		align-items: stretch;
		flex-direction: column;
		margin-bottom: rem(71);
	}
	&__editor {
		height: rem(519);
		// & img {
		// 	@media (max-width: 690px) {
		// 		left: 0;
		// 		margin-left: 0;
		// 	}
		// 	height: 519px;
		// 	position: absolute;
		// 	right: 0;
		// 	bottom: 0;
		// }
	}
	&__img {
		@media (max-width: 690px) {
			left: 0;
			margin-left: 0;
		}
		height: 519px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.icons {
	&__item {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: rem(15);
		@include mbNotLast(60);
		max-width: 100%;
	}
	&__img {
		margin-bottom: rem(0);
		object-fit: contain;
		// flex: 0 0 rem(120);
	}
	&__text {
		text-align: left;
		max-width: rem(575);
		flex: 1 1;
	}
	&__title {
		margin-left: rem(5);
		margin-bottom: rem(10);
	}
	&__description {
		font-family: $font-family-main;
		color: $color-text-light;
		font-size: rem(14);
		line-height: 150%;
	}
}

// sections testimonials
.testimonials {
	background-image: url('@img/testimonials_section/testmonials_bg.png');
   padding: rem(86) 0 0;
   margin-bottom: 0;
	&__title {
		font-size: rem(42);
		line-height: 105%;
		margin-bottom: rem(76);
	}
	&__list {
		flex-direction: row;
		column-gap: rem(90);
		row-gap: rem(54);
		flex-wrap: wrap;
		@include mbNotLast(57);
	}
	&__text {
		padding-bottom: rem(19);
		max-width: 93%;

		&::after {
			width: 80%;
		}
	}
	.testimonials-card {
		max-width: rem(322);
		&>* {
			@include mbNotLast(17);
		}
}
}

// sections pricing
.pricing {
	background: url('@img/pricing_section/pricing_bg.png') center top / cover no-repeat;
	&__title {
		font-size: rem(42);
		line-height: 105%;
		padding: rem(86) 0 rem(39);
	}
	&__cards {
		grid-template-columns: repeat(auto-fill, 257px);
		gap: rem(30) rem(25);
	}
}

.cards {
	&__item {
		&:first-child>.offers__text {
			margin-bottom: rem(69);
			margin-top: rem(27);
		}
		&--active {
			@media (min-width: 559px) and (max-width: 643px) {
				max-width: 100%;
			}
			@media (min-width: 559px) {
				justify-self: end;
			}
		}
	}
	&__title {
		margin-bottom: rem(14);
	}
	&__item--active &__price {
		margin-bottom: rem(14);
	}
	&__item--active &__period {
		padding-bottom: rem(53);
	}
	&__license {
		margin-top: rem(33);
		margin-bottom: rem(43);
		line-height: 112%;
	}
	&__item--active &__license {
		margin-bottom: rem(88);
		margin-top: rem(46);
		line-height: 112%;
	}
	&__price {
		line-height: 150%;
		margin-bottom: rem(2);
	}
}
}


@media (min-width: 840px) {
	.pricing {
	&__cards {
		grid-template-columns: repeat(2, 257px);
	}
	}
}

@media (min-width: $large) {
// sections present_text
.present-text {
	padding: rem(113) 0 rem(70);
	&__wrapper {
		max-width: rem(906);
	}
	&__title {
		font-size: rem(54);
		margin-bottom: rem(26);
	}
	&__text{
		margin-bottom: rem(20);
	}
}	
.actions{
	font-weight: 700;
}
	

// sections features
.features {
	padding: rem(94) 0 rem(22);
   background: #F4F4F4;
	&__wrapper {
	   max-width: 100%;
	   margin: 0 auto;
	   display: grid;
	   grid-template-columns: repeat(2, 1fr);
	   grid-template-areas:
	      'icons title'
	      'icons editor';
	   column-gap: 15px;
	   }
	   &__title {
	      font-size: rem(48);
	      line-height: 104%;
	      margin-bottom: rem(7);
	      grid-area: title;
	   }
	   &__icons {
	      max-width: rem(540);
	      grid-area: icons;
	      margin-bottom: rem(46);
	   }
	   &__editor {
	   	grid-area: editor;
	   	position: relative;
		}
		&__img {
	   	left: 0;
	   	margin-left: rem(-16);
	   }
}

.icons {
	&__item {
      @include mbNotLast(32);
      align-items: self-end;
   }
   &__item:first-of-type{
      margin-bottom: rem(58);
   }
   &__img {
      margin-bottom: rem(0);
      object-fit: contain;
      flex: 0 0 rem(120);
      align-self: baseline;
   }
   &__text {
      text-align: left;
      max-width: rem(575);
      flex: 1 1;
      }
   &__title {
      margin-left: rem(2);
      margin-bottom: rem(12);
   }
   &__description {
      font-family: $font-family-main;
      color: $color-text-light;
      font-size: rem(14);
      line-height: 150%;
   }
}

// sections testimonials
.testimonials {
	background-image: url('@img/testimonials_section/testmonials_bg.png');
   padding: rem(105) 0 0 0;
	&__title {
		font-size: rem(48);
		line-height: 104%;
		margin-bottom: rem(73);
	}
	&__list {
		column-gap: rem(3);
		row-gap: rem(82);
		justify-content: space-between;
		@include mbNotLast(110);
	}
	&__text {
		padding-bottom: rem(18);
		max-width: 75%;
		&::after {
			width: 87%;
		}
	}
}
// sections pricing
.pricing {
	&__title {
		font-size: rem(48);
		line-height: 104%;
		padding: rem(110) 0 rem(62);
		margin-bottom: rem(2);
	}
}

.cards {
	&__item{
		&:first-child>.cards__license {
			margin-bottom: rem(60);
			margin-top: rem(36);
		}
	}
	&__title {
		padding: rem(32) 0;
		margin-bottom: rem(16);
	}
	&__item--active &__title {
		padding: rem(38) 0;
		margin-bottom: rem(16);
	}
	&__item--active &__price {
		margin-bottom: rem(16);
	}
	&__item--active &__period {
		padding-bottom: rem(52);
	}
	&__license {
		margin-top: rem(35);
		margin-bottom: rem(41);
	}
	&__item--active &__license {
		margin-bottom: rem(88);
		margin-top: rem(48);
	}
	&__price {
		line-height: 150%;
		margin-bottom: rem(6);
	}
}
}

@media (min-width: 1135px) {
	.pricing {
	&__cards {
		width: 100%;
		@include flexCenter;
		gap: 0 rem(15);
		padding: 0 0 rem(73);
	}
	}
}

