@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');


@import "settings/settings";
@import "sections/sections";
@import "components/components";
@import "media/media";



